%h1 React Calendar

%h2 Appointments

= react_component 'Appointments', props: { appointments: @appointments }

= javascript_pack_tag 'appointments-bundle'
= stylesheet_pack_tag 'appointments-bundle'
